.movies__card {
  width: 451px;
  height: 279px;
  display: flex;
  box-shadow: 0px 4px 12px 0px #00000026;
  overflow: hidden;
  margin-bottom: 24px;
}
.movies__description {
  margin: 15px;
}
.movie__description-title {
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
}
.movie__description-release {
  font-size: 12px;
  font-weight: normal;
  line-height: 22px;
  color: #827e7e;
  margin-bottom: 6px;
}
.movies__description-genre {
  display: inline-block;
  padding: 2px 4px;
  border: 1px solid #d9d9d9;
  font-size: 12px;
  line-height: 14px;
  color: #827e7e;
  margin-right: 6px;
  margin-bottom: 6px;
}
.movie__description-paragraph {
  font-size: 12px;
  line-height: 22px;
}
